<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/about.css" />
    <link rel = "icon" href =  
"images/paw.png" 
        type = "image/x-icon">
  </head>

  <body>
    <div class="about-section">
        <h1>Welcome to Woofer!</h1>
        <p>A tinder like dog adoption app.</p>
        <p>Our goal is to help you find your best furever match.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="images/bessie.JPG" alt="Bessie" style="width:100%">
            <div class="container">
              <h2>Sarah Jordan</h2>
              <p class="title">Founder</p>
              <p>As a Pre-Veterinary student working at an animal clinic Sarah saw a need to have a quick, streamlined process for adoptions and sought out a better way to achieve this goal. Woofer combines the same logic you see on other pet adoption sites and combines it with the easy "swipe" feature you would find on dating services to create a product that aims to clear out shelters/rescues at a much quicker rate.</p>
              <p>sarah@woofer.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="images/rocky.JPG" alt="Rocky" style="width:100%">
            <div class="container">
              <h2>Nicole Villalpando</h2>
              <p class="title">Founder</p>
              <p>Rescue and foster dog mom. Nicole is passionate about setting pet parents up for success. Returns to shelters drain resouces and our hope is that Woofer will help facilitate better adoption matches from get go. Ensuring a positive result for both new pet parents and shelters/rescues.<br>
                <br>Aims to increase diversity in the rescue community.</p>
              <p>nicole@woofer.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
      




    <!-- <footer>
      <div class="footer">
        <p>Copyright©2021 Woofer, Inc.</p>
      </div> -->
    </footer>
  </body>
</html>
