<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Find Your Furever</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
    <link rel="stylesheet" href="/main.css" />

    <link rel = "icon" href =  
"images/paw.png" 
        type = "image/x-icon"> 
  </head>
  <body>
    <div id="react"></div>
    <div>
      <nav class="navbar navbar-expand-md navbar-default navbar-light bg-light">
        <a class="navbar-brand" href="#"
          ><img src="images/logo.jpg" class="woofer"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          <li class="nav-item-active">
            <a class="nav-link" href="/about">About</a>
          </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbardrop"
                data-toggle="dropdown"
                >Resources</a
              >
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="https://www.aspcapetinsurance.com/"
                  >Pet Insurance</a
                >
                <a
                  class="dropdown-item"
                  href="https://resources.bestfriends.org/pet-training/dog-training"
                  >Training</a
                >
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav ml-auto">
            <!--/*@thymesVar id="loggedInUser" type="com.example.demo.model.User"*/-->
					<th:block th:if="${loggedInUser != null}">
						<li class="nav-item active nav-link"
							th:text="${loggedInUser.username}"></li>
						<li class="nav-item active" th:unless="${loggedInUser == null}">
							<a class="nav-link" href="/signout">Sign Out</a>
						</li>
					</th:block>
					<li class="nav-item active" th:if="${loggedInUser == null}"><a
						class="nav-link" href="/signin">Sign In/Up</a></li>
				</ul>
        </div>
      </nav>
    </div>
    <footer>
      <div class="footer">
        <hr />
        <p>Copyright©2021 Woofer, Inc.</p>
        <script src="built/bundle.js"></script>
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"
        ></script>
      </div>
    </footer>
  </body>
</html>
